:root {
    --columns: 200px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid hotpink; */
}

body {
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    background: rgb(62, 90, 160);
    background: linear-gradient(180deg, rgba(62, 90, 160, 1) 0%, rgba(30, 30, 60, 1) 100%);
    overflow: hidden;
}

header,
footer {
    background-color: hsla(220, 40%, 10%, 1);;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button.shuffle {
    background: #fff;
    color: #000;
    aspect-ratio: 1;
    border-radius: 4px;
    width: 20px;
    font-size: 20px;
}

#start-game {
    min-height: 100%;
    min-width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 2fr 4fr;
    overflow: auto;
}

.question-title {
    font-size: 1.5rem;
    font-size: clamp(24px, 6vw, 64px);
    text-align: center;
    color: #fff;
    text-shadow: 0px 8px 2px hsla(220, 40%, 10%, 0.7);
}

#game-screen {
    padding: 1vw;
    /* background-color: rgb(30, 30, 60); */
    max-width: 100%;
    height: 100%;
    /* max-height: fit-content; */
    display: none;
    /*grid when game starts */
    grid-template-rows: 3fr 3fr;
    overflow: hidden;
}

.question-header {
    color: #fff;
    font-size: 16px;
    font-size: clamp(16px, 5vw, 32px);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    place-items: center;
    text-align: center;
}

.question-wrapper {
    display: grid;
    place-items: center;
}

.question-wrapper img {
    width: 100%;
    max-width: 100%;
}

#popup {
    position: absolute;
    top:30px;
    left:50%;
    transform:translate(-50%,0);
    z-index: 1000;
    font-size: 1rem;
    color: #000;
    background: #fff;
    padding: 15px 20px;
    border-radius: .6em;
    text-align: center;
    box-shadow: 0px 6px hsla(220, 40%, 10%, 1);
    transition: all ease .25s;
    opacity:0;
}

@media screen and (max-width: 768px) {
    #flag img {
        max-height: 100%;
        min-width: 70vw;
    }

    footer {
        display: none;
    }
}

.answers-score {
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    place-items: center;
    padding: .6rem;
    border-radius: .3rem;
    background: hsla(220, 40%, 40%, 0.4);
    box-shadow: 0px 6px hsla(220, 40%, 10%, .8);
}

.highlight-animation {
    animation: grownumber .5s forwards;
}

@keyframes grownumber {

    0%,
    100% {
        scale: 1;
    }

    60% {
        scale: 2;
    }
}

.answers-wrapper {
    display: none;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: calc(50% - 10px) calc(50% - 10px);
    grid-gap: 12px;
}

.answers-wrapper .answer {
    display: grid;
    place-items: center;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-size: clamp(16px, 5vw, 32px);
    border-radius: .3rem;
    background: hsla(220, 40%, 40%, 0.4);
    box-shadow: 0px 10px hsla(220, 40%, 10%, 0.8);
}

.answers-wrapper .answer:active {
    margin-top: 10px;
    margin-bottom: -10px;
    box-shadow: 0px 0px hsla(220, 40%, 10%, 0.7);
}

.answers-wrapper button,
header .shuffle,
#btn-start-game,
#replay {
    border: none;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    text-align: inherit;
    cursor: pointer;
}

.answers-wrapper .correct {
    animation: highlight-correct-answer .25s forwards;
}

@keyframes highlight-correct-answer {

    0%,
    30%,
    60% {
        background: hsla(140, 60%, 50%, 0);
    }

    20%,
    50% {
        background: hsla(140, 60%, 50%, 0.6);
    }

    100% {
        background: hsla(140, 60%, 50%, 0.8);
    }
}

.answers-wrapper .incorrect {
    animation: highlight-incorrect-answer .3s forwards;
}

@keyframes highlight-incorrect-answer {

    0%,
    40%,
    80% {
        background: hsla(0, 55%, 50%, 0.8);
    }

    30%,
    70% {
        background: hsla(0, 55%, 50%, 0.8);
    }

    100% {
        background: hsla(0, 55%, 50%, 0.8);
    }
}

/* play button */
#btn-start-game,
#replay {
    width: fit-content;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    background: hsla(140, 60%, 50%, 0.7);
    border: 10px solid hsla(140, 60%, 50%, 1);
    border-radius: 1em;
    padding: .8em 1.4em;
    transition: all ease .3s;
}

#btn-start-game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn-start-game:hover,
#replay:hover {
    font-size: 3.4rem;
    background: hsla(140, 60%, 50%, 1);
    border: 14px solid #fff;
}

#btn-start-game:active #replay:active {
    color: hsla(140, 60%, 50%, 1);
    background: #fff;
}

/* end game */
#end-game {
    display: none;
    /* shows after game ends */
    position: absolute;
    height: 100%;
    width: 100%;
    height: 100dvh;
    width: 100dvw;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    text-align: center;
    grid-template-rows: 1fr, 3fr, 2fr;
    place-items: center;
}

#end-game .end-score {
    width: 100%;
    display: grid;
    font-size: 20px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: 20px;
}

#end-game .end-score #correct,
#end-game .end-score #incorrect {
    display: grid;
    place-items: center;
}

#end-game .score {
    font-size: 20px;
    font-size: clamp(20px, 6vw, 36px);
}